<div class="flex justify-center h-full py-12">
  <div class="self-center flex sm:flex-row w-full px-6 sm:px-2">
    <div class="w-full text-center sm:text-center py-12 sm:px-8">
      <h1 class="tracking-wide text-green-600 text-6xl mb-20">We Are: <span
          class="text-gray-800 tracking tracking-widest hover:text-green-600">Lymbic AI</span></h1>
      <h2 class="tracking-widest text-4xl">Lymbic decodes brain signals for...</h1>
        <span class="content__container block font-light text-browngray text-2xl my-6">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">Security</li>
            <li class="content__container__list__item xl:pl-3">Mental Wellbeing</li>
            <li class="content__container__list__item xl:pl-3">Productivity/Product Testing</li>
            <li class="content__container__list__item xl:pl-3">Immersive Entertainment</li>            
          </ul>
        </span>
        <p class="tracking-widest text-4xl">...using AI!</p>
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-800 bg-green-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:text-gray-200"
    href="#about">About</a>
</div>