<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/assets/favicons/favicon-48x48.png">
<link rel="manifest" href="/assets/favicons/manifest.json">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#111111">
<meta name="application-name" content="lymbic.ai">
<link rel="yandex-tableau-widget" href="/assets/favicons/yandex-browser-manifest.json">